DATABASE_URL=jdbc:postgresql://ep-soft-firefly-ayvgu0p6-pooler.c-5.us-east-2.aws.neon.tech/neondb?user=neondb_owner&password=npg_fzQbOoTK3W1u&sslmode=require&channelBinding=require
DATABASE_USERNAME=neondb_owner
DATABASE_PASSWORD=npg_fzQbOoTK3W1u
DATABASE_DIALECT=org.hibernate.dialect.PostgreSQLDialect
JWT_SECRET=9f3b4d82a7d6e5f4c3b2a1908e7d6c5b4a3928173645546372819abcdef12345
FRONTEND_URL=http://localhost:5175